extends ../template.pug

block styles
  style.
    .reveal .slides img.logo-img {
      background: white;
      border: 10px solid #fff;
      border-radius: 10px;
    }

    .reveal .slides .font175 {
      font-size: 175%;
    }

    .reveal .slides .font150 {
      font-size: 150%;
    }

    .reveal .slides .font120 {
      font-size: 120%;
    }

    .reveal .slides .font75 {
      font-size: 75%;
    }

    .reveal .slides .font70 {
      font-size: 70%;
    }

    .reveal .slides .font45 {
      font-size: 45%;
    }

    .reveal .slides .underline {
      text-decoration: underline;
    }

    .reveal .slides .mt0 {
      margin-top: 0;
    }

    .reveal .slides .mb0 {
      margin-bottom: 0;
    }

    .reveal .slides .white-bg {
      background: white;
    }

block title
  title Hacker Tools

block slides
  section.center
    h1 Hacker Tools
    h2 Web and browsers, security and privacy
    img.logo-img(style='height: 5ex', src='../nushackers_svg.svg')
  section
    h2 Slides
    p https://hckr.cc/ht2324s1-w10-slides (permalink)
    p https://hckr.cc/ht-slides
  section
    h2 Brief overview
    ul
      li Browsers and the web
      li Security and privacy
  section.center
    h1 Browsers and the web
  section
    h2 Keyboard shortcuts
    ul
      li #[kbd C-t]: new tab
      li #[kbd C-T]: reopen closed tab
      li #[kbd C(-Shift)-Tab]: change tab
      li #[kbd C-l]/#[kbd M-d]/#[kbd F6]: jump to address bar
      li #[kbd C-f]: search in page
      li #[kbd C-w]/#[kbd C-F4]/#[kbd Middle-click]: close tab
      li #[kbd F12]/#[kbd C-M-i] (Mac): developer tools
    p More: #[a(href='https://support.mozilla.org/en-US/kb/keyboard-shortcuts-perform-firefox-tasks-quickly') Firefox]; #[a(href='https://support.google.com/chrome/answer/157179?hl=en') Chrome]
  section
    h2 Google search operators
    ul
      li #[code "X"]: must appear and must appear exactly
      li #[code site:xyz.com]: results from xyz.com only
      li #[code filetype:xyz]: xyz filetype only
      li #[code define:xyz]: define xyz
    p More: #[a(href='https://support.google.com/websearch/answer/2466433') Google docs]; #[a(href='https://ahrefs.com/blog/google-advanced-search-operators/') External docs]
  section
    section
      h2 Bookmark keywords (FF)
      img(src='ff0.png')
      img(src='ff1.png')
    section
      h2 Custom search engines
      img(src='chr-cse.png', style='width: 15em;')
    section
      h2 Custom search engines
      img(src='chr-cse1.png')
  section
    section
      h2 (FF) Container tabs
      img(src='ff-mac.png', style='width: 12.5em;')
      p Long press the +
    section
      h2 Chromium profiles
      img(src='chr-profiles0.png', style='height: 25ex;')
    section
      h2 Chromium profiles
      img(src='chr-profiles.png', style='height: 25ex;')
  section
    h2 (FF) #[code about:config] tweaks
    ul
      li #[code.font75 dom.select_events.enabled: false]#[br]stop websites from disallowing highlighting text
      li #[code.font75 dom.event.clipboardevents.enabled: false]#[br]stop websites from disallowing copying/pasting
      li #[code.font75 dom.event.contextmenu.enabled: false]#[br]stop websites from disallowing right-click (caveat: websites' custom context menus are disabled)#[br]In FF, Shift+RightClick overrides.
  section
    h2 Developer tools
    p Not only useful for development; can be used for one-off scraping, removing annoyances, etc
    ul
      li Downloading images/videos e.g. Flickr
      li Scraping (with JS)
      li Debugging why something isn't working
  section
    h2 Bookmarklets
    p Bookmarks, but the URL starts with #[code javascript:]
    p Snippets of JavaScript to do stuff. E.g.
    ul
      li #[a(href="javascript:void(location.href='http://libproxy1.nus.edu.sg/login?url='+location.href);") NUS Libraries]
      li #[a(href="javascript:window.location=document.querySelector('meta[property=\\'og:video\\']').content;void 0;") Panopto download]
      li #[a(href='javascript:void(document.oncontextmenu=null)') Unblock right-click]
  section
    h2 Browser extensions
    ul
      li #[a(href='https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/') uBlock Origin]#[a(href='https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm') (C)]: adblock
      li #[a(href='https://addons.mozilla.org/en-US/firefox/addon/styl-us/') Stylus]#[a(href='https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne') (C)]: #[a(href='https://userstyles.org/') user styles] for websites
      li #[a(href='https://addons.mozilla.org/en-US/firefox/addon/violentmonkey/') Violentmonkey]#[a(href='https://chrome.google.com/webstore/detail/violentmonkey/jinjaccalgkegednnccohejagnlnfdag?hl=en') (C)]: user scripts from #[a(href='https://openuserjs.org/') OpenUserJS], #[a(href='https://greasyfork.org/en/scripts') GreasyFork], #[a(href="https://gist.github.com/search?l=JavaScript&o=desc&q=%22%3D%3DUserScript%3D%3D%22&s=updated") Github Gist]
      li #[a(href='https://addons.mozilla.org/en-US/firefox/addon/tree-style-tab/') Tree Style Tabs] (FF only)
      li #[a(href='https://addons.mozilla.org/en-US/firefox/addon/google-search-link-fix/') Google link search fix] (FF only)
      li #[a(href='https://www.eff.org/https-everywhere') HTTPS Everywhere]
      li #[a(href='https://www.zotero.org/download/connectors') Zotero Connector(C)]
  section
    section
      h2 User scripts
      p Like bookmarklets on steroids
      p Scripts that automatically run on each page load
      p Some useful scripts:
      ul
        li #[a(href='https://adsbypasser.github.io/') Adsbypasser]
    section
      h2 Automation with user scripts
      pre: code.javascript.
        // ==UserScript==
        // @name Example
        // @match https://www.google.com/webhp
        // ==/UserScript==

        let searchbox = document.getElementsByName("q")[0];
        searchbox.value = "Hello";
        searchbox.form.submit();
  section
    section
      h2 Useful web APIs
      ul
        li #[a(href='https://api.telegram.org/') Telegram bot API]: e.g. as simple push notifications
        li #[a(href='https://ifttt.com/') IFTTT]: service that glues many services together
    section
      h2 Quick notifications with Telegram
      pre: code.bash curl -L 'https://api.telegram.org/bot&lt;TOKEN&gt;/sendMessage?chat_id=&lt;CHAT ID&gt;&text=Build+completed.
  section
    h2 Extras
    p Automation with #[a(href='https://www.seleniumhq.org/') Selenium]
  section.center
    h1 Security and privacy
  section
    h2 Some security blogs
    p #[a(href='https://www.troyhunt.com/') Troy Hunt]
    p #[a(href='https://decentsecurity.com/') Decent Security]
  section
    h2 Know your threat model
    p Government? Random person getting hold of your laptop?
    p There's always a tradeoff when you make things more secure
  section
    a(href='https://xkcd.com/936/'): img(src='https://imgs.xkcd.com/comics/password_strength.png')
  section
    h2 #[a(href='https://haveibeenpwned.com/') Have I Been Pwned]
  section
    h2 Password managers
    ul
      li #[a(href='https://keepass.info/') KeePass]: open-source, offline, .NET
      li #[a(href='https://keepassxc.org/') KeePassXC]: open-source, C++ port of above (works better for Linux/Mac)
      li #[a(href='https://www.passwordstore.org/') pass]: open-source, CLI, GPG-based
      li #[a(href='https://bitwarden.com/') Bitwarden]: open-source, self-hostable cloud based (also see #[a(href='https://github.com/dani-garcia/bitwarden_rs') bitwarden_rs])
      li #[a(href='https://1password.com/') 1Password]: commercial 👎, cloud-based
      li #[a(href='https://www.lastpass.com') LastPass]: commercial 👎, cloud-based
  section
    h2 Full-disk encryption
    p Protect your data at rest
    ul
      li Windows: BitLocker (only available on Pro)
      li Linux: LUKS/dm-crypt
      li macOS: FileVault
      li Cross-platform: #[a(href='https://www.veracrypt.fr/en/Home.html') VeraCrypt]
  section
    a(href='https://xkcd.com/538/'): img(src='https://imgs.xkcd.com/comics/security.png', style='height: 25ex;')
  section
    h2 Plausible deniability
  section
    h2 File-based encryption
    p Protect individual files
    ul
      li Linux: eCryptFS, #[a(href='https://www.cryfs.org/tutorial') CryFS]
      li Cross-platform: #[a(href='https://www.veracrypt.fr/en/Home.html') VeraCrypt]
      li 7-Zip
      li #[a(href='https://github.com/FiloSottile/age') age]
      li #[a(href='https://github.com/skeeto/enchive') enchive]
  section
    h2 VPN services (paid)
    p Protect your online privacy
    ul
      li #[a(href='https://mullvad.net/en/') Mullvad] (based in Sweden)
      li #[a(href='https://www.tunnelbear.com/') Tunnelbear] (based in Canada)
      li #[a(href='https://nordvpn.com/') NordVPN] (based in Panama)
      li #[a(href='https://protonvpn.com/') ProtonVPN] (based in Switzerland)
    p #[a(href='https://thatoneprivacysite.net/vpn-comparison-chart/') Comparison table]
  section
    h2 VPN software
    p Run your own VPN
    ul
      li #[a(href='https://openvpn.net/community-downloads/') OpenVPN]
      li #[a(href='https://www.wireguard.com/') WireGuard]
    p Setting up a server is out of scope. Here are some guides: #[a(href='https://wiki.archlinux.org/index.php/OpenVPN') OpenVPN], #[a(href='https://wiki.archlinux.org/index.php/WireGuard') WireGuard]
    p WireGuard is a very modern (but very new) VPN. If you are setting up a new VPN, and it meets your needs, use it!
  section
    h2 Messengers
    ul
      li #[a(href='https://signal.org/') Signal]: Trusted by security community
      li #[a(href='https://element.io/') Element/Matrix]: Also trusted; federated
      li #[a(href='https://www.whatsapp.com/') WhatsApp]: Supposedly uses Signal protocol
      li #[a(href='https://telegram.org/') Telegram]: Questionable encryption
    p There are many other messengers but most offer no privacy at all.
  section.center
    p See #[a(href='https://privacytools.io') privacytools.io] for more privacy-focused alternatives to common software.
    p You could consider reducing your dependency on Google, for example, by moving to a different email #[a(href='https://mxroute.com') provider].
  section
    a(href='https://xkcd.com/1200/'): img(src='https://imgs.xkcd.com/comics/authorization.png', style='height: 25ex;')
  section
    h2 #[span(style='text-transform: none') PCs] are unsafe
    p Mobile phones nowadays have better isolation
  section
    h2 Thank you! Questions?
    p Feedback: #[a(href='https://hckr.cc/ht2324s1-w10-feedback') hckr.cc/ht2324s1-w10-feedback (permalink)] || hckr.cc/ht-feedback
